@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inconsolata, monospace;
}
:root {
  --bg: #f7f7f7;
  --bg1: #fff;
  --font1: #0e0e0e;
  --overlay: #1ff5a3;
  --hover: #17eb99c2;
  --gray: rgb(139, 139, 139);
  --move: rgb(250, 207, 150);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--overlay);
  border-radius: 5px;
}
.main {
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg);
  position: relative;
  scroll-behavior: smooth;
}
/* =========== sidebar ================= */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: var(--bg);
  width: 300px;
  max-height: 100vh;
  height: 100%;
  transition: all linear 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
.sidebar:hover,
.nav:hover .sidebar {
  box-shadow: 2px 2px 30px 0 var(--hover);
}
.sidebar .profile_pic {
  width: 105px;
  height: 105px;
  display: block;
  margin: 2rem auto 3rem;
}
.main .nav {
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 100;
  width: 300px;
}
.main .nav .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.main .nav .links li {
  width: 60%;
  margin: 0.8rem auto;
  list-style: none;
}
.main .nav .links li a {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 23px;
  font-weight: 700;
  text-decoration: none;
  color: var(--font1);
}
.main .nav .links li.active a i {
  color: var(--overlay);
}
.main .nav .links li a span {
  transition: all ease-in-out 0.4s;
}
.main .nav .links li:hover a span,
.main .nav .links li.active a span {
  margin-left: 5px;
  font-size: 22px;
  background-color: var(--bg1);
  padding: 8px 15px;
  border-radius: 1rem;
  color: var(--overlay);
  box-shadow: 1px 1px 10px rgba(172, 172, 172, 0.4);
}
.sidebar .soical_icon {
  width: 250px;
  margin: 2rem auto;
  padding: 0 2rem;
}
.sidebar .soical_icon ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sidebar .soical_icon ul li {
  list-style: none;
}
.sidebar .soical_icon a i {
  font-size: 32px;
  color: var(--font1);
  transition: all linear 0.4s;
}
.sidebar .soical_icon a:hover i {
  color: var(--overlay);
}
.nav .move {
  display: none;
}
/* =========== content box  Start ================= */

.content-box {
  position: absolute;
  top: 0;
  left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.content-box .scroll_watcher {
  position: fixed;
  top: 0;
  left: 300px;
  width: 100%;
  height: 5px;
  background-color: var(--overlay);
  z-index: 20;
  scale: 1 1;
}

.content-box .hero {
  scroll-snap-align: start;
  width: calc(100vw - 300px);
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-box .hero .hero_content {
  position: relative;
  width: 30rem;
}
.content-box .back {
  width: 100px;
  height: 100px;
  background-color: var(--overlay);
  position: absolute;
  top: -2rem;
  left: -2rem;
  border-radius: 1.5rem;
  z-index: -1;
}
.content-box .hero .ig {
  width: 65px;
  z-index: -2;
  position: absolute;
  opacity: 0.3;
  user-select: none;
  pointer-events: none;
  animation: moveUpDown 3s ease-in-out infinite;
}
.item1 {
  top: 15%;
  left: 30%;
}
.item2 {
  top: 35%;
  left: 10%;
}
.item3 {
  top: 25%;
  left: 75%;
}
.item4 {
  top: 55%;
  left: 85%;
}
.item5 {
  top: 75%;
  left: 45%;
}
.item6 {
  top: 70%;
  left: 15%;
}
.item7 {
  top: 75%;
  left: 70%;
}
.item8 {
  top: 15%;
  left: 55%;
}
.content-box .center_box {
  z-index: 3;
  padding: 2rem;
  background-color: var(--bg);
  border-radius: 2rem;
  border: 2px solid var(--gray);
  pointer-events: none;
  user-select: none;
}
.content-box .center_box .line {
  margin: 0.4rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--font1);
}
.center_box .line p {
  display: inline-block;
  margin: 0 1rem 0 0;
  color: var(--gray);
  font-size: 1.5rem;
  font-weight: 600;
}
.center_box .line h2 {
  display: inline-block;
  font-size: 1.9rem;
  font-weight: 800;
}
.center_box .line h2::before {
  content: "<";
  color: var(--gray);
  margin: 0.6rem;
}
.center_box .line h2::after {
  content: ">";
  color: var(--gray);
  margin: 0.6rem;
}
.center_box .line_3 h2::before {
  visibility: hidden;
}
.center_box .line_2 h2::after {
  visibility: hidden;
  display: none;
}
.center_box .line span {
  color: var(--overlay);
}
.content-box .text_2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0.9rem 0 0 1rem;
  color: var(--font1);
}
.content-box .hero .scroll_btn {
  cursor: pointer;
  padding: 0.6rem 1.3rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--font1);
  background-color: var(--bg1);
  text-align: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 7px 3px var(--hover);
}
.content-box .hero .scroll_btn i {
  transition: 0.2s ease-in-out;

  color: var(--overlay);
  animation: scrollBtn 1.3s infinite alternate;
}
/* =========== content box End ================= */

/* =========== conversation box Start ================= */
.content-box .conversation {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.5rem;
}
.conversation .chat-box {
  margin-top: 4rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  overflow-y: auto;
}
.conversation .chat-box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.conversation .chat-box .chat-message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 1.6rem;
}
.conversation .chat-box .chat-message.user2 {
  justify-content: right;
  margin-bottom: 1.6rem;
  flex-direction: row-reverse;
}
.conversation .chat-box .chat-message .message {
  background-color: var(--bg1);
  border-radius: 2.3rem;
  max-width: 75%;
  padding: 2rem;
  margin: 0 0.7rem;
  box-shadow: 1px 1px 10px rgba(146, 146, 146, 0.4);
}
.conversation .chat-box .chat-message .message h3 {
  line-height: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.conversation .chat-box .chat-message .message h3 span {
  color: var(--overlay);
  font-family: 500;
}
.conversation .bottom {
  width: 100%;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--gray);
  transition: 0.2s ease-in-out;

  animation: scrollBtn 1.3s infinite alternate;
}
/* =========== conversation box End ================= */

/* =========== about box start ================= */
.content-box .about {
  width: 100%;
  height: 100vh;
  margin: 2rem 0 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content-box .about .profile_img {
  width: 40%;
  padding: 2rem;
  overflow: hidden;
  transition: 0.6s ease all;
}
.content-box .about .profile_img:hover {
  transform: perspective(800px) rotateY(-15deg) translateY(-10px) rotateX(3deg);
}
.content-box .about .profile_img:hover img {
  filter: grayscale(0);
  box-shadow: 2px 2px 30px 3px var(--overlay);
}
.content-box .about .profile_img img {
  border-radius: 2rem;
  box-shadow: 2px 2px 0px 0px var(--overlay);
  filter: grayscale(1);
  width: 100%;
  /* max-height: 19rem; */
  transition: all ease-in-out 0.5s;
  object-fit: cover;
}
.content-box .about .content {
  width: 60%;
}
.content-box .about .content h3{
 font-size: 2.3rem;
 font-weight: 600;
 margin: 1rem auto 0.2rem;
 color: var(--font1);
}
.content-box .about .content span{
 font-size: 1.1rem;
 letter-spacing: 3px;
 font-weight: 500;
 color: var(--hover);

}
.content-box .about .content p{
 font-size: 1rem;
 padding: 2rem 0;
 line-height: 1.4rem;
 font-weight: 600;
 color: var(--font1);
}
.content-box .about .content p span{
  margin: 0.7rem 0 0;
 font-size: 1rem;
 display: block;
 letter-spacing: normal;
 font-weight: 600;
 line-height: normal;
 color: var(--font1);
}
.content-box .about .content p span strong{
 font-weight: 800;
}
.content-box .about .content .contact{
width: 100%;
padding: 2rem ;
}
.content-box .about .content .contact a{
padding: 1.2rem 2.5rem ;
color: var(--font1);
background-color: var(--bg1);
border-radius: 1.5rem;
text-decoration: none;
font-size: 1.6rem;
font-weight: 700;
box-shadow: 2px 2px 20px 0 rgba(172, 172, 172, 0.4);
transition: all ease-in-out 0.5s;
}
.content-box .about .content .contact a:hover{
box-shadow: 2px 2px 20px 0 var(--overlay);
}
/* =========== about box End ================= */

/* =========== responsive sidebar ================= */
@media screen and (max-width: 745px) {
  .sidebar {
    display: none;
  }
  .main .nav {
    width: 45px;
    top: 25%;
    left: 10px;
    z-index: 45;
    height: auto;
    background-color: var(--bg);
    height: fit-content;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(172, 172, 172, 0.4);
  }
  .nav .move {
    background-color: var(--move);
    width: 100%;
    display: block;
    padding: 8px 12px;
    border-radius: 10px;
  }
  .nav .move.drag {
    cursor: move;
  }
  .nav .move i {
    margin: auto;
    font-size: 1.2rem;
    color: var(--font1);
  }
  .sidebar:hover {
    box-shadow: none;
  }
  .nav .links {
    padding: 5px;
  }
  .main .nav .links li a {
    height: 20px;
  }
  .nav .links li i {
    font-size: 1.2rem;
  }
  .nav .links li {
    margin: 0;
  }
  .sidebar .profile_pic,
  .nav .links li a span,
  .sidebar .soical_icon {
    display: none;
  }

  .content-box {
    width: 100vw;
    left: 0;
    top: 0;
  }
  .content-box .hero {
    width: 100%;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  .content-box .conversation {
    scroll-snap-align: start;
    margin: 2rem auto 1rem;
    width: 100%;
    min-height: 60vh;
  }
  .conversation .chat-box {
    padding: 0.2rem;
  }
  .content-box .scroll_watcher {
    left: 0;
  }
  .conversation .chat-box .chat-message {
    align-items: flex-start;
  }
  .conversation .chat-box .chat-message .message h3 {
    line-height: 130%;
    font-size: 0.9rem;
  }
  .conversation .chat-box .chat-message .message {
    max-width: 130%;
    padding: 1rem;
    border-radius: 1.5rem;
  }
  .content-box .about {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  .content-box .about .content {
    width: 90%;
  }
  .content-box .about .profile_img {
    width: 70%;
    /* height: 40rem; */
  }
  .content-box .about .profile_img img {
    max-height: 100%;
  }
}

@media screen and (max-width: 625px) {
  .content-box .hero .ig {
    width: 40px;
  }
  .item2 {
    top: 25%;
  }
  .item4 {
    top: 65%;
  }
  .center_box .line p,
  .center_box .line h2 {
    font-size: 1.2rem;
  }
  .content-box .center_box {
    margin: 0 1rem;
    padding: 1rem 1.5rem;
  }
  .content-box .back {
    width: 75px;
    height: 75px;
    top: -0.9rem;
    border-radius: 1.2rem;
    left: 3px;
  }
  .conversation .chat-box .chat-message img {
    width: 30px;
    margin-top: 0.5rem;
    height: 30px;
  }
}

/* ========== animation start =========== */

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes scrollBtn {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(5px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

/* ========== animation end =========== */
